body
  padding: 30px

.navbar
  margin-bottom: 30px

#filter
  padding-bottom: 30px

.osusume-image
  max-width: 200px

tr.disable
  background-color: #fafafa

tr.hide
  display: none

td
  word-break: break-all
  word-wrap: break-word

td.content
  max-width: 250px
