#content
  font-family: Meiryo, Ricty, verdana, sans-serif

td
  padding: 0.5em
  white-space: nowrap
  font-size: 10px

th
  background-color: #eeffff

table, td, th
  border: 1px black solid
  border-collapse: collapse

.osusume-image
  max-width: 200px
