#content
  font-family: 'Gill Sans', Verdana, Arial, sans-serif

td
  padding: 0.5em
  font-size: 10px

th
  background-color: #eeffff

table, td, th
  border: 1px black solid
  border-collapse: collapse

.osusume-image
  max-width: 200px

td.disable
  background-color: gray
